*{border:0;margin:0;padding:0;-webkit-appearance:none;}
body{font-size:14px;}
input{border:1px solid #e0e0e0;height:30px;border-radius:0;}
a{text-decoration:none;color:#666;}

.btn{text-decoration:none;display:inline-block;background:#ff4e00;color:#fff;padding:7px 20px;border-radius:3px;}
.btn:hover{background:#ff4400;}
.red{color:#ff0000;}
.hide{display:none;}

table{border-collapse:collapse;}
table td{border:1px solid #eee;padding:5px;min-height:20px;}

/* paper-style */
body.paper-style{background:#f2f2f2;}
.paper-style .wrap{max-width:900px;margin:50px auto;background:#fff;box-shadow:#666 0 0 10px;padding:60px 30px;}

/* Loader */
@-moz-keyframes timer-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes timer-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes timer-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* :not(:required) hides this rule from IE9 and below */
.timer-loader:not(:required) {
  border: 6px solid #e0e0e0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  position: absolute;
  text-indent: -10px;
  width: 60px;
  height: 60px;
  line-height:150px;
  left:50%;
  top:40%;
  transform:translate(-50%,-50%);
}
.timer-loader:not(:required)::before {
  -moz-animation: timer-loader 1250ms infinite linear;
  -webkit-animation: timer-loader 1250ms infinite linear;
  animation: timer-loader 1250ms infinite linear;
  -moz-transform-origin: 3px 3px;
  -ms-transform-origin: 3px 3px;
  -webkit-transform-origin: 3px 3px;
  transform-origin: 3px 3px;
  background: #e0e0e0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  content: '';
  display: block;
  position: absolute;
  width: 6px;
  height: 25px;
  left: 21px;
  top: 21px;
}
.timer-loader:not(:required)::after {
  -moz-animation: timer-loader 15000ms infinite linear;
  -webkit-animation: timer-loader 15000ms infinite linear;
  animation: timer-loader 15000ms infinite linear;
  -moz-transform-origin: 3px 3px;
  -ms-transform-origin: 3px 3px;
  -webkit-transform-origin: 3px 3px;
  transform-origin: 3px 3px;
  background: #e0e0e0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  content: '';
  display: block;
  position: absolute;
  width: 6px;
  height: 21px;
  left: 21px;
  top: 21px;
}
.timer-loader{margin:0 auto;}
